.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.info {
  background-color: #f2f2f2;
  color: #333;
  padding: 12px;
  text-transform: uppercase;
}

.list {
  border-bottom: 1px solid #dddddd;
}
.list:hover {
  background-color: #f1f1f1;
}

.list:nth-of-type(even) {
  background-color: #f9f9f9;
}

.item {
  padding: 12px;
  color: #555;
}
